.App {
  text-align: center;
}

.item{
  display: flex;
  float: left;
  gap: 60px;
}
.cart-image img{
  width: 100px;
  height: 100px;
}
.cart-wrapper img{
  width: 80px;
  height: 40px;
}
.cart-button , .cart-qty{
margin-left: 40px;
}
.cart-button button{
 box-shadow: inset;
  background-color: red;
  color: #fff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
